@model CarDetailsViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>
    Detale o samochodzie:
</h4>
<p>
    Marka: @Model.Marka
</p>
<p>
    Kolor: @Model.Kolor
</p>
<p>
    Cena: @Model.Cena
</p>
<p>
    Czy zepsuty: @Model.CzyZepsuty
</p>
<p>
    Przebieg: @Model.Przebieg
</p>